body {
    margin: 0;
    padding: 0;
    background: #ff003b;
}

ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul li {
    list-style: none;
    float: left;
    margin: 10px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    font-size: 50px;
    position: relative;
    transition: .5s ease-in-out;
    color: #262626;
    z-index: 1;
}

ul li::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ff003b;
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
    z-index: -1;
}

ul li:hover:before {
    transform: scale(1);
}

ul li:hover {
    color: #fff;
}